Package: custom-set-vm-hostname
Version: 1.1
Architecture: all
Maintainer: Robert Socha <socha@socha.it>
Depends: open-vm-tools
Section: admin
Priority: optional
Description: Set hostname based on guestinfo.custom.name provided by open-vm-tools
